<mat-card>
  <img src="https://i.imgur.com/M8Uyz8k.png" />
  <h3>Michał Ciernia</h3>
  <h4>Full stack developer</h4>
  <span>
    <a href="https://github.com/Sorky96" class="hvr-grow" target="_blank"
      ><fa-icon [icon]="faGithubSquare" size="3x" [fixedWidth]="true"></fa-icon
    ></a>
    <a
      href="https://www.linkedin.com/in/michal-ciernia-b14689172/"
      class="hvr-grow"
      target="_blank"
    >
      <fa-icon [icon]="faLinkedinIn" size="3x" [fixedWidth]="true"></fa-icon>
    </a>
    <a href="mailto:kontakt@michalciernia.pl" class="hvr-grow">
      <fa-icon
        [icon]="faEnvelopeSquare"
        size="3x"
        [fixedWidth]="true"
      ></fa-icon>
    </a>
  </span>
</mat-card>
